* {
    font-family: sans-serif;
}
header {
    /*border: 4px solid red;*/
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;

    height: 450px;

    background-color: #1F2937;

}

.logo, .links, .introduction, .header_img {
    /*border: 2px solid red; */
    padding: 10px;
    height: 350px;
    
}

.logo {
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bold;

    height: 20px;

    display: flex;
    justify-content: center;

    width: 50%;
}

#links {


    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-evenly;
    flex-wrap: wrap;

    width: 42%;

}

.header_link {
    /*border: 2px solid blue;*/
    color: #E5E7EB;
    font-size: 15px;
}

.header_img {
    background-color: grey;
    text-align: center;
    height: 250px;
    width: 300px;  /* fix aliment header text and header img*/
}

.introduction{
    width: 60%;
}

.header_text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.header_paragraph {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 16px;
      padding-right: 16px;
    border-radius: 18px;
    cursor: pointer;
    margin-right: 8px;
    font-weight: bold ;
    font-size: 15px;
    vertical-align: top;
  }

/* 
div {
    border: 4px solid red;
  }
*/
.box_section {
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 20px;

}

.page {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    text-align: center;
    margin: 40px;
}

div .middle {
    background-color: aqua;
}

.box_page  {
    border: 2px solid  #3882f6;
    height: 100px;
    width: 100px;
    border-radius: 25px;
}

.box {
    width: 20%;
    max-width: 150px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
.box_text {
    text-align: center;
    font-size: 15px;
}