* {
    font-family: sans-serif;
}
header {
    /*border: 4px solid red;*/
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;

    background-color: #1F2937;

}

.logo, .links, .introduction, .header_img {
    /*border: 2px solid red; */
    padding: 10px;
    height: 350px;
    
}

.logo {
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bold;

    height: 20px;

    display: flex;
    justify-content: center;

    width: 50%;
}

#links {


    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-evenly;
    flex-wrap: wrap;

    width: 42%;

}

.header_link {
    /*border: 2px solid blue;*/
    color: #E5E7EB;
    font-size: 15px;
}

header img {
    background-color: grey;
    text-align: center;
    height: auto;
    width: 300px;  /* fix aliment header text and header img*/
}

.introduction{
    width: 60%;
}

.header_text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.header_paragraph {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 16px;
      padding-right: 16px;
    border-radius: 18px;
    cursor: pointer;
    margin-right: 8px;
    font-weight: bold ;
    font-size: 20px;
    vertical-align: top;
  }

  button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    background-color: #E5E7EB;
    color: #3882f6;
  }

.box_section {
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.page {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    text-align: center;
    margin: 40px;
}

div .middle {
    background-color: aqua;
}

.box_page  {
    border: 2px solid  #3882f6;
    height: 100px;
    width: 100px;
    border-radius: 25px;
}

.box {
    width: 20%;
    max-width: 150px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
.box_text {
    text-align: center;
    font-size: 15px;
}

.quote_back {
    background-color: #E5E7EB;

    display: flex;
    justify-content: center;
}

.quote_front {
    width: 60%;
    margin: 50px;

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.quote {
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937;
}

.end_box {
    background-color:  #3882f6;
    width: 70%;
    margin: 50px 15% ;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    border-radius: 15px;
}


.end_text {
    width: 70%;
    color:#f9faf8;
    font-size: 20px;
}

.end_paragraph {
    font-size: 18px;
    color: #E5E7EB;
}

footer {
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    height: 30px;
    margin: 0;
}
